# Ignore everything by default.
*

# me! 
!.gitignore

!README.md

# home-manager
!home-manager/
!home-manager/*
!home-manager/*/*
!home-manager/*/*/*
!home-manager/*/*/*/*

# i3
!i3/
!i3/*

# nvim
!nvim
!nvim/*
!nvim/*/*
!nvim/*/*/*
!nvim/*/*/*/*

# tmux
!tmux/
!tmux/*
!tmux/*/*

# kitty
!kitty/
!kitty/*

# background
!bg.jpg

# rofi
!rofi
!rofi/*
!rofi/*/*
!rofi/*/*/*
!rofi/*/*/*/*
